* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar{
    /*border: 1px red solid;*/
    height: 100px;
    background-color:  #424949;
    border:none;
}
.navbar-nav{
    /*border: 1px red solid;*/
    margin-top: 2%;
}
.banner {
    position: relative;
    width: 100%;
    height: 553px;
    background: url('../img/banner3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    margin-top: 6%;
}
.fondo{
    width: 100%;
    height: 553px;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
}

.contenedor{
    /*padding: 20px;*/
    /*border: 2px red solid;*/
    display: flex;
    width: 90%;
    height: 100px;
    overflow: hidden;
    font-size: 80px;
    line-height: 100px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.contenedor p{
    margin-left: 1%;
    color:  #2980b9;
}
.contenedor ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
    /*top: 0;*/
}
.contenedor ul li{
    font-size: 70px;
}
@keyframes cambiar{

    0%{ margin-top: 0; }
    20%{ margin-top: 0; }

    25%{ margin-top: -100px; }
    50%{ margin-top: -100px; }

    55%{ margin-top: -200px; }
    80%{ margin-top: -200px; }

    85%{ margin-top: -100px; }
    95%{ margin-top: -100px; }

    100%{ margin-top: 0px; }
}
.boton{
    clear: both;
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.btn-primary.btn-outline:hover {
    color: #fff;
}
.seccion1{
    padding: 7% 0% 7% 0%;
}
.tit{
    margin-top: 20%;
}
.seccion2{
    padding: 7% 0% 7% 0%;
    background-color:  #eaf2f8;
}
.banner2 {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('../img/banner11.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    /*margin-top: 6%;*/
}
.fondo2{
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
}
.pd{
    padding: 5% 0 0% 0;
}
.iconos{
    text-align: center;
    color: #FFF;
}
/*--------------------footer---------------*/

footer{
    background-color: #000;
    height: 100px;
    overflow: hidden;
    clear: both;
}

footer p {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin-top: 2%;
}

/*-----------nosotros--------------*/
.bannern {
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    margin-top: 6%;
}
.fondon{
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
}
.fondon .texton{
    text-align: center;
    margin: auto;
    margin-top: 9%;
    color: #fff;
    font-size: 50px;
}
/*--------------------servicios-------------*/

.bannersp {
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    margin-top: 6%;
}
.fondosp{
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
}
.fondosp .texton{
    text-align: center;
    margin: auto;
    margin-top: 9%;
    color: #fff;
    font-size: 50px;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}

.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/*------------------consultoria---------------*/

.bannersc{
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../img/consultoria2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    margin-top: 6%;
}
.fondosc{
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
}
.fondosc .texton{
    text-align: center;
    margin: auto;
    margin-top: 9%;
    color: #fff;
    font-size: 50px;
}

.textosc{
    width: 100%;
    /*margin-top: 5%;*/
}
.textosc p{
    width: 63%;
    border: 5px #F9F9F9 solid;
    padding: 5%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
/*--------------contacto---------*/
.bannerc{
    position: relative;
    width: 100%;
    height: 300px;
    background: url('../img/contacto.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    margin-top: 6%;
}
.fondoc{
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
}
.fondoc .texton{
    text-align: center;
    margin: auto;
    margin-top: 9%;
    color: #fff;
    font-size: 50px;
}
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
.mapa{
    width: 100%;
}
.mapa iframe{
    width: 100%;
}